raw_data/Halo_deM_R2_SE50_20190904.fastq.gz filter=lfs diff=lfs merge=lfs -text
raw_data/P1_deM_R1_SE50_20190904.fastq.gz filter=lfs diff=lfs merge=lfs -text
raw_data/P1_deM_R2_SE50_20190904.fastq.gz filter=lfs diff=lfs merge=lfs -text
raw_data/Halo_deM_R1_SE50_20190904.fastq.gz filter=lfs diff=lfs merge=lfs -text
gem/gem.jar filter=lfs diff=lfs merge=lfs -text
genomes/Maize_A632_Wang_2023.fa.gz filter=lfs diff=lfs merge=lfs -text
genomes/Maize_AGPv4_B73.fa.gz filter=lfs diff=lfs merge=lfs -text
genomes/Maize_A632_Wang_2023_chroms.tar.gz filter=lfs diff=lfs merge=lfs -text
genomes/Maize_AGPv4_B73_chroms.tar.gz filter=lfs diff=lfs merge=lfs -text
