services:

  # filter adapters and low quality reads
  1_trim:
    image: openjdk:22-bookworm
    volumes:
      - ./:/mnt
    container_name: trim
    command: java -jar /mnt/Trimmomatic-0.38/trimmomatic-0.38.jar SE -phred33 -threads 6 /mnt/Raw_data/P1_deM_R1_SE50_20190904.fastq.gz /mnt/output/clean.fa ILLUMINACLIP:/mnt/Trimmomatic-0.38/TruSeq3-SE.fa:2:30:10 SLIDINGWINDOW:6:15 MINLEN:30
   
 
  # index reference genome
  2_bt2-build:
    image: biocontainers/bowtie2:v2.4.1_cv1
    volumes:
      - ./:/mnt
    container_name: bt2-build
    command: sh -c 'gunzip -c /mnt/genomes/A632_FastaAlterRefB73.fasta.gz > /mnt/output/Zm-v4.fa && bowtie2-build /mnt/output/Zm-v4.fa --threads 6 /mnt/output/indexed-genome'
    
    
  # map reads to reference genome
  3_bt2-map:
    image: biocontainers/bowtie2:v2.4.1_cv1
    volumes:
      - ./:/mnt
    container_name: bt2-build
    command: bowtie2 -x /mnt/output/indexed-genome -q /mnt/output/clean.fa --sensitive --threads 6 -S /mnt/output/aligned.sam


  # extract uniquely mapped reads
  4_samtools:
    image: biocontainers/samtools:v1.7.0_cv4
    volumes:
      - ./:/mnt
    container_name: samtools
    command: sh -c 'samtools view -h -F 4 /mnt/output/aligned.sam | grep -v "XS:i" > /mnt/output/4a.sam && samtools view -h -Sb /mnt/output/4a.sam -o /mnt/output/4b.bam && samtools sort /mnt/output/4b.bam -o /mnt/output/unique.bam && samtools index /mnt/output/unique.bam'


  # extract uniquely mapped reads with perfect match (MAPQ= 42)
  5_samtools:
    image: biocontainers/samtools:v1.7.0_cv4
    volumes:
      - ./:/mnt
    container_name: samtools
    command: sh -c 'samtools view -q 42 -b /mnt/output/aligned.sam -o /mnt/output/5a.bam && samtools sort /mnt/output/5a.bam -o /mnt/output/perfect.bam && samtools index /mnt/output/perfect.bam'


  # Identifying peaks using GEM tool
  6_gemtool:
    image: openjdk:22-bookworm
    volumes:
      - ./:/mnt
    container_name: gemtool
    command: java -jar /mnt/gem/gem.jar --d /mnt/gem/Read_Distribution_default.txt --q 
