name: test

on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  #push:
  #  branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: git lfs pull
        run: git lfs pull
      - name: 1_trim
        run: |
            chmod 777 -R output
            docker compose run 1_trim
      - name: 2_bt2-build
        run: |
            chmod 777 -R output
            docker compose run 2_bt2-build
      - name: 3_bt2-map
        run: |
            chmod 777 -R output
            docker compose run 3_bt2-map
      - name: 4_samtools
        run: |
            chmod 777 -R output
            docker compose run 4_samtools
      - name: 5_samtools
        run: |
            chmod 777 -R output
            docker compose run 5_samtools
      - name: 6_gemtool
        run: |
            chmod 777 -R output
            docker compose run 6_gemtool
      - name: 7_idr
        run: |
            chmod 777 -R output
            docker compose run 7_idr
